<form class="mat-elevation-z8" class="form">
    <h1>Deletando Técnico</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome Completo</mat-label>
        <input [(ngModel)]="tecnico.nome" disabled name="nome" matInput placeholder="Nome">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="tecnico.cpf" disabled name="cpf" matInput placeholder="CPF">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="tecnico.telefone" disabled name='telefone' matInput placeholder="Telefone">
    </mat-form-field>

    <button class="mat-elevation-z8" (click)="delete()" mat-flat-button color="warn">Deletar</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-flat-button color="accent">Cancelar</button>

</form>